
		
	
		.flexparent{
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: green;
		}

		.child1{
			width: 50%;
			margin: 10%;
			padding: 10%;
			border: 5px solid #ddd;
			background-color: pink;
		}
		.child2{
			width: 50%;
			margin: 10%;
			padding: 10%;
			border: 5px solid #ddd;
			background-color: pink;

		}
		img{
			width: auto;
			height: auto;
			display: block;
			margin-left: auto;
			border-radius: 50%;
		}
	
	@media only screen and (min-width: 491px) and (max-width: 768px);{

		.flexparent{
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		
		.child1{
			width: 50%;
			margin: 10%;
			padding: 10%;
			border: 5px solid #ddd;
		}
		.child2{
			width: 50%;
			margin: 10%;
			padding: 10%;
			border: 5px solid #ddd;
		}


@media only screen and (min-width: 769px) and (max-width: 1024px);{

		.flexparent{
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		
		.child1{
			width: 50%;
			margin: 10%;
			padding: 10%;
			border: 5px solid #ddd;
		}
		.child2{
			width: 50%;
			margin: 10%;
			padding: 10%;
			border: 5px solid #ddd;
		}

}
}